DATABASE_URL=postgresql://neondb_owner:your_password@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ADMIN_SECRET=your_admin_secret_here